{{ $fullname := promptString "Full Name" -}}
{{ $email := promptString "Email" -}}

[data.personal]
  fullname = {{ $fullname | quote }}
  email = {{ $email | quote }}


[diff]
  exclude = ["scripts"]
