[user]
  name = {{ .personal.fullname }}
  email = {{ .personal.email }}
  ; signingKey = ~/.ssh/id_ed25519

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
  # Use first key in ssh-agent.
  defaultKeyCommand = sh -c 'echo key::$(ssh-add -L)'

[commit]
  gpgSign = true

[tag]
  gpgSign = true

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  features = line-numbers decorations
  whitespace-error-style = 22 reverse
  plus-color = "#012800"
  minus-color = "#340001"
  syntax-theme = Monokai Extended

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[hub]
	protocol = ssh
