#!/bin/sh

{{ if ne .chezmoi.osRelease.idLike "arch" -}}
echo "You'll need to set the default locale to 'en_US.UTF8' manually in the next step"
echo "Hit enter to continue"
read
sudo dpkg-reconfigure locales
echo
{{ end }}

{{ if eq .chezmoi.osRelease.idLike "arch" -}}
echo "Install stuff using pacman -Sy"
sudo pacman -Syu
sudo pacman -S pkgconf \
               gcc

# Hyprland
sudo pacman -S wmctrl \
               hyprland \
               hyprpaper \
               qt5-wayland \
               qt6-wayland \
               swayidle \
               libva \
               polkit-kde-agent \
               pipewire \
               wireplumber \
               waybar \
               brightnessctl \
               blueman \
               rustup \
               dolphin \
               espeak-ng \
               playerctl \
               sassc \
               imv \
               nemo \
               xorg-xev \
               xorg-xhost \
               xorg-xeyes \
               xdg-desktop-portal-hyprland \
               xdg-desktop-portal-gtk
               # systemd-boot-manager

rustup default stable

yay -S libva-nvidia-driver-git \
       qogir-cursor-theme-git \
       dracula-icons-git \
       dracula-gtk-theme \
       swaync \
       swayosd-git \
       swaylock-effects \
       wl-gammarelay-rs \
       rofi-lbonn-wayland-git \
       wob \
       bluetuith \
       hyprshot \
       hyprpicker \
       eww-wayland \
       nwg-look-bin
       # brillo
       # hyprland-nvidia
       # catppuccin-gtk-theme-mocha
       # papirus-folders-catppuccin-git

sudo pacman -S neovim \
               pipewire-pulse \
               pipewire-jack \
               pipewire-audio \
               pipewire-alsa \
               zsh \
               wezterm \
               ffmpeg \
               aria2 \
               gparted \
               mpv \
               mpv-mpris \
               git \
               ipython \
               hub \
               base-devel \
               linux-headers \
               sof-firmware \
               xclip \
               dbus \
               rustup \
               nmap \
               python-pip \
               python-lsp-server \
               openssh \
               imagemagick \
               xdotool \
               tree \
               xdg-desktop-portal-gtk \
               strace \
               virt-manager \
               libfido2 \
               pam-u2f \
               yubico-pam \
               qemu \
               vde2 \
               ebtables \
               dnsmasq \
               bridge-utils \
               openbsd-netcat \
               cargo-binstall \
               unzip \
               btop \
               yt-dlp \
               bitwarden \
               bitwarden-cli \
               calibre \
               mitmproxy \
               libvorbis \
               openal \
               sdl2 \
               dbus-python \
               make \
               wireguard-tools \
               jq \
               progress \
               noto-fonts-emoji \
               glava \
               xorg-xrandr \
               ctags \
               net-tools \
               reptyr \
               scrcpy \
               picocom \
               wl-clipboard \
               docker \
               docker-compose \
               ripgrep \
               git-delta \
               fd \
               sd \
               bandwhich \
               keychain \
               tailscale \
               krita \
               openjdk-src \
               avahi \
               python-pynvim \
               libreoffice-fresh \
               diskonaut
               # tmux

yay -S netdiscover \
       fastgron-git \
       chiaki \
       sc-controller \
       zoom \
       slack-desktop \
       auto-cpufreq \
       mongodb-bin \
       postman-bin \
       touchegg \
       wlr-randr \
       google-chrome \
       webtorrent-mpv-hook \
       protonvpn \
       touche \
       armcord-bin \
       ani-cli \
       sonixd-bin \
       yubico-authenticator-bin \
       apk-mitm

yay -S spotify-adblock \
       spotify-remove-ad-banner
       # helix-git
{{ else }}
sudo apt update
echo "Install stuff using apt install"
sudo apt install -y software-properties-common \
                    neovim \
                    tmux \
                    ffmpeg \
                    zsh \
                    aria2 \
                    undistract-me \
                    mpv \
                    git \
                    xclip \
                    python3-pip \
                    dbus \
                    nmap \
                    python-dev \
                    python3-dev \
                    openssh-server \
                    libssl-dev \
                    libclang-dev \
                    netdiscover \
                    imagemagick \
                    ctags \
                    fonts-noto-color-emoji
sudo apt install -y hub
sudo apt install -y btfs
{{ end }}

echo
rm -rf ~/.oh-my-zsh
echo "Install Oh-My-Zsh"
KEEP_ZSHRC="yes" RUNZSH="no" sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
