name: deploy
on:
  workflow_dispatch:

jobs:
  clawsiecats:
    runs-on: ubuntu-latest
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Clone Repository
        uses: actions/checkout@v4
      - name: Import SSH Key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
      - name: "Deploy: .#clawsiecats"
        run: |
          nix run github:serokell/deploy-rs -- -s .#clawsiecats --ssh-opts "-oStrictHostKeyChecking=no"
