name: machines
on:
  pull_request:
  push:
  workflow_dispatch:

# NOTE: Attic can authenticate atticd through:
# $ attic login --set-default attic-action http://pilab.lion-zebra.ts.net:7080 \
# $(sudo atticd-atticadm make-token --sub ritiek --validity 1y --pull attic-action \
# --push attic-action --create-cache attic-action --destroy-cache attic-action \
# --configure-cache attic-action --configure-cache-retention attic-action)
#
# To generate authenticate push to GH actions cache token ${{ secrets.ATTIC_PUSH_TOKEN }}:
# $ sudo atticd-atticadm make-token \
#   --sub ritiek \
#   --validity 1y \
#   --pull attic-action \
#   --push attic-action \
#   --create-cache attic-action \
#   --configure-cache attic-action \
#   --configure-cache-retention attic-action

jobs:
  mishy:
    runs-on: ubuntu-latest
    steps:
      # - name: Maximize build space
      #   uses: AdityaGarg8/remove-unwanted-software@v4.1
      #   with:
      #     remove-dotnet: 'true'
      #     remove-android: 'true'
      #     remove-haskell: 'true'
      #     remove-codeql: 'true'
      #     remove-docker-images: 'true'
      #
      # Filesystem on /mnt for some reason has more space on GitHub action
      # runner than /
      - name: Bind mount /nix
        run: |
          sudo mkdir /mnt/nix /nix
          sudo chmod 0755 /nix
          sudo mount --bind /mnt/nix /nix
      # - name: Set swap space
      #   uses: pierotofy/set-swap-space@master
      #   with:
      #     swap-size-gb: 10
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Clone Repository
        uses: actions/checkout@v4

      - name: Setup Attic cache
        uses: ritiek/attic-action@main
        with:
          endpoint: https://attic.clawsiecats.lol/
          cache: attic-action
          create: true
          token: ${{ secrets.ATTIC_PUSH_TOKEN }}

      - name: "Build: .#mishy"
        run: |
          nix build --fallback --keep-going .#nixosConfigurations.mishy.config.system.build.toplevel

  pilab:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Clone Repository
        uses: actions/checkout@v4

      - name: Setup Attic cache
        uses: ritiek/attic-action@main
        with:
          endpoint: https://attic.clawsiecats.lol/
          cache: attic-action
          create: true
          token: ${{ secrets.ATTIC_PUSH_TOKEN }}

      - name: "Build: .#pilab"
        run: |
          nix build --fallback --keep-going .#nixosConfigurations.pilab.config.system.build.toplevel

  clawsiecats:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: AdityaGarg8/remove-unwanted-software@v4.1
        with:
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
      # Filesystem on /mnt for some reason has more space on GitHub action
      # runner than /
      - name: Bind mount /nix
        run: |
          sudo mkdir /mnt/nix /nix
          sudo chmod 0755 /nix
          sudo mount --bind /mnt/nix /nix
      # - name: Set swap space
      #   uses: pierotofy/set-swap-space@master
      #   with:
      #     swap-size-gb: 10
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Clone Repository
        uses: actions/checkout@v4

      - name: Setup Attic cache
        uses: ritiek/attic-action@main
        with:
          endpoint: https://attic.clawsiecats.lol/
          cache: attic-action
          create: true
          token: ${{ secrets.ATTIC_PUSH_TOKEN }}

      - name: "Build: .#clawsiecats-minimal"
        run: |
          nix build --fallback --keep-going .#nixosConfigurations.clawsiecats-minimal.config.system.build.toplevel
      - name: "Build: .#clawsiecats"
        run: |
          nix build --fallback --keep-going .#nixosConfigurations.clawsiecats.config.system.build.toplevel
      - name: "Build: .#clawsiecats-luks"
        run: |
          nix build --fallback --keep-going .#nixosConfigurations.clawsiecats-luks.config.system.build.toplevel

  keyberry:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Clone Repository
        uses: actions/checkout@v4

      - name: Setup Attic cache
        uses: ritiek/attic-action@main
        with:
          endpoint: https://attic.clawsiecats.lol/
          cache: attic-action
          create: true
          token: ${{ secrets.ATTIC_PUSH_TOKEN }}

      - name: "Build: .#keyberry"
        run: |
          nix build --fallback --keep-going .#nixosConfigurations.keyberry.config.system.build.toplevel

  rig:
    runs-on: ubuntu-latest
    steps:
      - name: Bind mount /nix
        run: |
          sudo mkdir /mnt/nix /nix
          sudo chmod 0755 /nix
          sudo mount --bind /mnt/nix /nix
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Clone Repository
        uses: actions/checkout@v4

      - name: Setup Attic cache
        uses: ritiek/attic-action@main
        with:
          endpoint: https://attic.clawsiecats.lol/
          cache: attic-action
          create: true
          token: ${{ secrets.ATTIC_PUSH_TOKEN }}

      - name: "Build: .#rig"
        run: |
          nix build --fallback --keep-going .#nixosConfigurations.rig.config.system.build.toplevel

  zerostash:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Clone Repository
        uses: actions/checkout@v4

      - name: Setup Attic cache
        uses: ritiek/attic-action@main
        with:
          endpoint: https://attic.clawsiecats.lol/
          cache: attic-action
          create: true
          token: ${{ secrets.ATTIC_PUSH_TOKEN }}

      - name: "Build: .#zerostash"
        run: |
          nix build --fallback --keep-going .#nixosConfigurations.zerostash.config.system.build.toplevel

  radrubble:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Clone Repository
        uses: actions/checkout@v4

      - name: Setup Attic cache
        uses: ritiek/attic-action@main
        with:
          endpoint: https://attic.clawsiecats.lol/
          cache: attic-action
          create: true
          token: ${{ secrets.ATTIC_PUSH_TOKEN }}

      - name: "Build: .#radrubble"
        run: |
          nix build --fallback --keep-going .#nixosConfigurations.radrubble.config.system.build.toplevel

  mangoshake:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Clone Repository
        uses: actions/checkout@v4

      - name: Setup Attic cache
        uses: ritiek/attic-action@main
        with:
          endpoint: https://attic.clawsiecats.lol/
          cache: attic-action
          create: true
          token: ${{ secrets.ATTIC_PUSH_TOKEN }}

      - name: "Build: .#mangoshake"
        run: |
          nix build --fallback --keep-going .#nixosConfigurations.mangoshake.config.system.build.toplevel
